<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>DrugMS</title>
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/pure-min.css">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/grids-responsive-min.css">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/blog.css">
<link href="favicon.ico" rel="shortcut icon">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <!--<h1 class="brand-title"><a href="#"> wuli 小说</a></h1>-->
            <h2 class="brand-tagline">药品管理系统</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/article/">{{ user.username }}</a>
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/logout/">退出</a>
                            {% else %}
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/regist/">注册</a>
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/login/">登录</a>
                            {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>