
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>小说库</title>
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/pure-min.css">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/grids-responsive-min.css">
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/487/blog.css">
<link href="favicon.ico" rel="shortcut icon">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="#"> wuli 小说</a></h1>
            <h2 class="brand-tagline">Life is short and I need Python</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/article/">{{ user.username }}</a>
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/logout/">退出</a>
                            {% else %}
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/regist/">注册</a>
                                <a class="button-success pure-button" href="http://0.0.0.0:8000/user/login/">登录</a>
                            {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div>
        <form action="http://0.0.0.0:8000/user/login/" method="POST">
            <h2>Please sign in </h2>


            帐号<input type="text" name="username" />
            <br>密码<input type="password" name="password" />
            <br><button type="submit">Sign in </button>
            <p style="color: red">{{ login_error }}</p>
        </form>
</div>
        </div>
    </div>
</div>
</body>
</html>